<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /stamp4/

    # If a file or directory exists, serve it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise, serve index.html
    RewriteRule ^ /stamp4/index.html [L]
</IfModule>
